body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("src/assets/mars-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
img {
  height: 250px;
  width: auto;
  border: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
/*  border:10px solid red;*/
  border-radius:10px;
  position:absolute;
}

img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*.lineup {
  position: fixed;
  top: 0px;
  left: 0px;
}*/

